*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    height:15vh;
    width:100%;
    margin-top:0px;
    background-color: black;

}


.logo{
    margin-left:20px;
    margin-top:25px;
}

.list{
    display: flex;
    align-items: center;
    /* font-family: sans-serif; */
    font-size:1.3em;
    margin-left:15em;
    color:white;
    margin-top:-38px ;
}
li{
    display: flex;
    margin-left: 100px;
   
}
.list-item{
    margin-left: 35px;
}
.container{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    /* background-position: center; */
   
  
}


nav button{
  margin-left:80rem;
  background-color: rgb(202, 69, 214);
  height:35px;
  width:10%;
  color:white;
  border:5px;
  border-radius:5px;
  margin-top:-15rem;
  font-size: 1rem;
 
  
}

.hero{
    margin-left:30em;
    width: 50%;
    word-wrap: break-word;
   
  
}
.hero-heading{
    margin-top:10rem;
    font-size:5rem;
   
    color: white;
 
    
}
.hero-description{
    margin-top:0px;
    margin-left:5rem;
    font-size:1.2rem;
    color: white;
    font-weight: 400;
}
.button-large{
    margin-top: 5em;
    margin-left:13em;
    height:30px;
    width:30%;
    border-radius: 5px;
    background-color: rgb(202, 69, 214);
    border:5px;
    color: white;
    font-weight:600;
    font-size: 1rem;
}

